.loginbox {
  margin-top: 50px;

  .panel-head-right-text {
    float: right;
    font-size: 80%;
    position: relative;
    top: -10px;
  }
  .backgroundLoginImage {
    background: url("../../../assets/media/bg/bg-4.jpg");
  }

  .sign-up,
  .sign-in {
    border-top: 1px solid#888;
    padding-top: 15px;
    font-size: 85%;
  }
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-10 {
  margin-top: 10px;
}

.pt-30 {
  padding-top: 30px;
}
